.description-tags li {
  gap: 10px;
}
.tag-title {
  min-width: 51px;
  max-width: 51px;
}
.bio {
  margin-left: 60px;
}
.performance-content-block {
  margin-top: 60px;
}
.block-content {
  justify-content: left;
}

.more-info-tag:not(:first-child) {
  margin-top: 100px;
  padding-top: 0;
}

#performances.more-info-title {
  margin-top: 100px;
}
