aside {
  position: absolute;
  height: 700px;
  width: 300px;
  top: 190px;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left {
  left: 8.3%;
  width: 244px;
  background-color: rgba(40, 61, 109, 0.04);
  background-image: url("/assets/background-images/advertisementBanner.png");
}
.left .banner-title {
  margin: 40px auto;
  font-weight: 700;
  font-size: 20px;
  padding: 0 50px;
}
.banner-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 0 29px;
}

.right {
  right: 8.3%;
}
.right .banner-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding: 14px 0;
}

.banner-title {
  text-transform: uppercase;
}

.download-buttons {
  display: flex;
  gap: 12px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(212, 216, 226, 1);
}

.social-media {
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(212, 216, 226, 1);

  display: flex;
  justify-content: space-evenly;
}
.social-media img:hover,
.download-buttons img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.social-media img {
  border-radius: 0;
}
