footer {
  margin-top: 150px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(40, 61, 109, 1);
  height: 317px;
  color: rgba(255, 255, 255, 1);
}
footer img {
  border-radius: 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 44%;
  margin: auto;
}
.first-adaptive-column {
  display: flex;
  justify-content: space-between;
  gap: 168px;
}
.footer-container .nav {
  width: 186px;
  flex-direction: column;
  align-items: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}
.other .phone-block {
  display: none;
}
.footer-container .social-media {
  justify-content: space-between;
  margin-top: 77px;
  padding: 0;
  border: none;
}
.privacy {
  width: 212px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  color: #7a88a7;
}

.scroll-button {
  position: absolute;
  top: -45px;
  right: 160px;
}
.scroll-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 1010px) {
  .footer-container {
    width: 96%;
    margin: 0 30px;
  }
  .first-adaptive-column {
    gap: 186px;
  }
  .scroll-button {
    right: 30px;
  }
}
@media (max-width: 770px) {
  .footer-container {
    margin: 0;
  }
  .logo-wrapper {
    margin: 0;
  }
  .footer-container .nav {
    display: flex;
  }
  .first-adaptive-column {
    gap: 146px;
  }
}
@media (max-width: 490px) {
  footer {
    height: 458px;
  }
  .footer-container {
    height: 100%;
  }
  .logo-wrapper {
    margin-top: 60px;
  }
  .first-adaptive-column {
    margin-left: 30px;
    flex-direction: column;
    gap: 125px;
  }
  .footer-container .nav {
    height: 150px;
    gap: 10px;
    line-height: 22px;
    margin-bottom: 65px;
  }
  .other {
    margin-top: 60px;
  }
  .other .phone-block {
    display: block;
  }
  .scroll-button {
    width: 55px;
  }
}
@media (max-width: 390px) {
}
