header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 61, 109, 1);
  height: 100px;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  height: 100%;
  margin: auto;
}
.nav {
  width: 582px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-left: 76px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.nav li a:hover:not(.active),
.glasses:hover,
.languages span:hover:not(.active) {
  cursor: pointer;
  opacity: 0.5;
}
.active {
  font-weight: 700 !important;
}
.languages {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  color: rgba(122, 136, 167, 1);
}
.languages span {
  margin: auto 5px;
}
.chosen-language {
  color: white !important;
}

.phone-block {
  text-align: right;
}
.phone {
  font-weight: 600;
  font-size: 20px;
}
.time {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
}
.burger-button {
  display: none;
  border-radius: 0;
  cursor: pointer;
}
.burger-button:hover {
  opacity: 0.5;
}
@media (max-width: 1010px) {
  .header-container {
    width: 96%;
    margin: 0 30px;
  }
  .phone-block {
    display: none;
  }
  .nav {
    width: 482px;
    margin-left: 0;
    justify-content: start;
    gap: 25px;
  }
  .languages {
    margin-right: 30px;
  }
}
@media (max-width: 770px) {
  .header-container {
    justify-content: space-between;
    margin: 0;
  }
  .logo-wrapper {
    margin-left: 30px;
  }
  .nav {
    display: none;
  }
  .glasses {
    margin: 0;
  }
  .languages {
    margin: 0;
  }
  .phone-block {
    display: block;
  }
  .burger-button {
    display: block;
  }
}
@media (max-width: 490px) {
  .phone-block {
    display: none;
  }
}
@media (max-width: 390px) {
  .header-container {
    width: 100%;
  }
  .logo-wrapper {
    margin-left: 10px;
  }
  .languages {
    display: none;
  }
  .burger-button {
    margin-right: 10px;
  }
}
