body {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  color: #1c1f24;
  z-index: 1;
}

img {
  border-radius: 10px;
}

.page-container {
  width: 896px;
  margin: 190px auto 150px auto;
}

.container-topic {
  width: 896px;
  height: 440px;
  background-image: url("/assets/background-images/coliseum.png");
  margin-bottom: 50px;
}
.container-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
}
.container-description {
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.main-button {
  width: 234px;
  height: 60px;
  border: 2px solid #283d6d;
  border-radius: 10px;
  background-color: transparent;
  color: #283d6d;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.main-button:hover {
  opacity: 0.5;
}
.container-block {
  padding-top: 100px;
}
.first {
  border-top: 1px solid rgba(212, 216, 226, 1);
}
.container-block-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.block-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 30px 0 50px 0;
  overflow-x: auto;
}
.block-content::-webkit-scrollbar {
  box-sizing: content-box;
  height: 20px;
}

.block-content::-webkit-scrollbar-track {
  background: rgba(212, 216, 226, 1);
  height: 1px;
  width: 1px;
  border: 9.8px solid white;
}

.block-content::-webkit-scrollbar-thumb {
  height: 2px;
  background: rgba(122, 136, 167, 1);
  border-top: 9px solid white;
  border-bottom: 9px solid white;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card img {
  border-radius: 10px;
}

.poster-info {
  width: 234px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.poster-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.description-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description-tags li {
  display: flex;
  gap: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.tag-title {
  min-width: 92px;
  max-width: 92px;
}
.tag-content {
  width: 140px;
}

.date-views {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  margin-bottom: 15px;
}

.premiere {
  width: 440px;
}

.premiere-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.premiere-date {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #283d6d;
  margin-right: 6px;
}
.age {
  margin-left: 6px;
}

.premiere-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.premiere-info .date-views {
  justify-content: left;
  gap: 21px;
}
