.container-topic {
  background-image: url("/assets/background-images/masks.png");
  margin-bottom: 20px;
}
.container-description {
  margin-top: 92px;
  margin-bottom: 120px;
}

.container-block {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid rgba(212, 216, 226, 1);
}
.block-content {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
  flex-wrap: wrap;
  overflow: auto;
}
.actor-card {
  margin-bottom: 50px;
}

footer {
  margin-top: 100px;
}
